@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(90deg, #8c52ff, #5ce16b);
  color: #333;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.App {
  text-align: left;
  background: linear-gradient(90deg, #e0ccff, #d4f5e9);
  padding: 0px;
  padding-left: 0px;

  width: 100vw; /* Full viewport width */
  box-sizing: border-box; /* Ensures padding doesn’t affect width */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
