.how-it-works {
    background: rgba(255, 255, 255, 0); /* Transparent background */
    padding: 50px 20px;
    padding-right: 100px; /* 100px padding on the right side */
    border-radius: 20px;
    color: #0a0a0a;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
    position: absolute;
    right: 10px;
    top: 300px;
    width: 30%;
    transition: transform 0.8s ease;
  }
  
  .how-it-works h2 {
    font-size: 2rem; /* Reduced font size */
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    position: relative;
    padding-left: 30px; /* Added padding to create space for the vertical line */
  }
  
  .vertical-line {
    position: absolute;
    left: 0; /* Move vertical line to the left side */
    width: 4px;
    height: 100%;
    background-color: #f0f0f0;
    z-index: -1; /* Behind the steps */
  }
  
  .step {
    display: flex;
    align-items: center; /* Align items horizontally */
    opacity: 0.8;
    position: relative;
    margin-bottom: 20px;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .step.active {
    animation: zoomIn 3s ease forwards;
    opacity: 1;
  }
  
  @keyframes zoomIn {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .node {
    width: 20px;
    height: 20px;
    background-color: #5ce16b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
    font-size: 0.8rem; /* Adjusted size to match smaller text */
    margin-right: 10px; /* Space between node and text */
    z-index: 1;
  }
  
  .tick {
    font-size: 1rem; /* Adjusted font size */
    margin: 0;
  }
  
  .step p {
    font-size: 1.5rem; /* Reduced font size */
    color: #080808;
    margin: 0;
  }
  